<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="save()" class="form">
  <app-input label="Cambiar nombre" placeholder="Tu nombre" [control]="nameCtrl" autocomplete="given-name"></app-input>
  <app-input label="Cambiar apellido" placeholder="Tu apellido" [control]="lastNameCtrl" autocomplete="family-name"></app-input>

    <app-button [disabled]="loading || form.invalid" type="submit" value="Guardar" color="primary"></app-button>
  </form>
</ion-content>
