<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="save()" class="form">
  <app-input label="Nombre" placeholder="Tu nombre" [control]="nameCtrl" autocomplete="given-name"></app-input>
  <app-input label="Apellido" placeholder="Tu apellido" [control]="lastNameCtrl" autocomplete="family-name"></app-input>
  <app-input label="Email" placeholder="tu@email.com" type="email" [control]="emailCtrl" [disabled]="true" autocomplete="email"></app-input>
  <app-input label="Contraseña actual (escríbela)" placeholder="Tu contraseña actual" type="password" [control]="currentPasswordCtrl" autocomplete="current-password"></app-input>
  <app-input label="Nueva contraseña" placeholder="Nueva contraseña" type="password" [control]="passwordCtrl" autocomplete="new-password"></app-input>

    <app-button [disabled]="loading || form.invalid" type="submit" value="Guardar" color="primary"></app-button>
  </form>
</ion-content>
