<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="doRegister()">

    <ion-card>

        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Name"
            placeholder="yohan"
            labelPlacement="floating"
            [control]="name"
            >
            </app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Last name"
            placeholder="maldonado"
            labelPlacement="floating"
            [control]="lastName"
            >
            </app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input
            type="email"
            label="Email"
            placeholder="exampleEmail@gmail.com"
            labelPlacement="floating"
            [control]="email"
            >
            </app-input>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <app-input
            type="password"
            label="Password"
            placeholder="**************"
            labelPlacement="floating"
            [control]="password"
            >

            </app-input>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <app-button
            type="submit"
            color="primary"
            [disabled]="registerForm.invalid"
            value="register">
            </app-button>

            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
          </ion-col>
        </ion-row>

    </ion-card>

  </form>

</ion-content>
