<ion-content [fullscreen]="true">

  <div class="header">
    <div class="p"><p>{{ 'WELCOME_MESSAGE' | translate }}</p></div>
  <div class="languageContainer">
  </div>
  </div>
<!-- <app-button
value="Pick image"
color="danger"
(click) = 'pickImage()'></app-button> -->
<!-- <pre>{{img | json}}</pre> -->



 <ion-card-content class="container-carta">
  <app-card>

  </app-card>
<!-- <ion-card *ngFor="let item of imgUrl; index as i"
button id="open-modal" expand="block">
  @if (imgUrl) {
   <img [src]="imgUrl[i]" style="width: 120px; height: 200px;">
  }

  <app-modal></app-modal>
</ion-card> -->


</ion-card-content>

<!--
<app-button
type="submit"
value="Log out"
color="primary"
(click)="logOut()">
</app-button> -->

<ion-fab slot="fixed" vertical="bottom" horizontal="end" >

<app-floating-button
color="gray"
name="settings"
(click)="openSettings()">
</app-floating-button>
  

<app-floating-button
color="primary"
(click)="pickImage()"
name="add"
horizontal="end"
>

</app-floating-button>

</ion-fab>




</ion-content>
